/* variables globales */
:root{
    --color-primario :#ff00ff;
    --color-blanco:#fff;
    --color-texto:blue;
    --fuente-principal: verdana, sans-serif;
    --color-fondo:#f1f1f1;
}

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

#titulo-principal{
    color: green;
}

body{
    color: var(--color-texto);
    font-family: var(--color-texto);
    background-color: var(--color-fondo);
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto ;
    min-height: 100vh;
}
.encabezado{
grid-area: header ;
background-color: var(--color-primario);
text-align: center;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    font: bold;
    transition: color 0.3s ease;
}
nav a:hover{
color: blue;


} 